@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8f0ca;
  --text-color: #e85d04;
  --second-color: #f9fee0;
}
body {
  background-color: var(--second-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  background-color: var(--second-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2px;
}
::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.text-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--text-color);
  transition: width 0.4s ease;
}

.text-underline:hover::after {
  width: 100%;
}
::selection {
  background-color: var(--bg-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}
